html {
	height: 100%;
	margin: 0;
	padding:0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url('/img/bg.png');
}

header {
	background: #333;
	margin-bottom: 25px;
	padding:25px;
	box-shadow: 0 2px rgba(255,255,255,0.2);
}

h1 {
	margin: 0;
	color: #ececec;
	text-align: center;
}

#main-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.class-wrap {
	width: 974px;
	margin: 0 auto;
	background: #ececec;
	box-shadow: 3px 3px 0 rgba(102, 102, 102, 0.8);
	border-radius: 10px;
	padding: 25px;
	margin-bottom: 25px;
	position:relative;
}
.add-wrap {
	position: absolute;
	top: 25px;
	left: 26px;
}
#empty {
	padding-left: 62px;
}
form {
	width: 55%;
	display: block;
	float: left;
	margin-top: 34px;
}
form ::selection {
	background-color: rgba(255,255,255,0);
}
form label {
	text-transform: capitalize;
	font-weight: bold;
}
.dropdown-menu>li>a,
.bootstrap-select.btn-group .btn .filter-option {
	text-transform: capitalize;
}
form label:after {
	content: " :";
}
form label[required]:before {
	color: #ef0000;
	content: "*";
}
.form-horizontal .control-group {
	padding: 10px 0;
	position:relative;
	margin-bottom: 0;
}
form .control-group:hover {
	border-radius: 10px;
	background: rgba(255,255,255,0.4);
}
form .control-group:hover .plus,
form .control-group:hover .minus{
	display: block;
}
.form-horizontal .control-label {
	width: 136px;
}
.form-horizontal .controls {
	margin-left: 150px;
}
optgroup,dt {
	text-transform: uppercase;
}
form input, 
.input-prepend input, 
.input-append input {
	font-size: 13px;
}
.input-prepend.input-append select+.btn-group .btn,
.input-prepend select+.btn-group .btn,
.input-append select+.btn-group .btn,
.btn-group>.btn:first-child {
	border-radius:0;
}
.bootstrap-select.btn-group .btn .filter-option {
	left: 6px;
}
input[type=text]:last-child,
.btn-group:last-child>.btn:first-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
select {
	text-transform: capitalize;
}
.input-tiny {
	width: 27px;
}
.add-on.unit {
	cursor: pointer;
}

.custom-prop {
	margin-left: -103px;
}

.custom-attr {
	margin-left: -1px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.live {
	float: right;
	width: 43%;
}
.live textarea {
	resize: none;
	position:absolute;
	top:25px;
	bottom:25px;
	right:25px;
	width: 40%;
	max-height: 400px;
}

#test {
	text-shadow: none;
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
	margin-bottom:0;
}

.bootstrap-select.btn {
	padding: 0;
	border-radius: 0;
}

.minus {
	display:none;
	position: absolute;
	top:14px;
	right: 8px;
	color: #F33;
	font-weight: bold;
	font-size: 16px;
	padding: 4px;
}
.minus:hover, .minus:focus {
	text-decoration: none;
	color: #EAA;
	font-weight:bolder;
}
.minus:active {

}