body {
	margin: 0;
	padding: 0;
	background: url('/img/bg.png');
}

header {
	height: 30px;
	background: #111;
	margin-bottom: 25px;
}

#main-wrap {
	width: 974px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

.class-wrap {
	width: 100%;
	background: #ececec;
	box-shadow: 4px 4px 0 #666;
	border-radius: 10px;
	padding: 25px;
}

form {
	width: 42%;
	display: block;
	float: left;
}
form label {
	text-transform: capitalize;
}
form label:after {
	content: " :";
}
form label[required]:before {
	color: #ef0000;
	content: "*";
}
form .control-group:last-child {
	margin-bottom: 0;
}

.live {
	float: right;
	width: 57%;
}

.live textarea {
	width: 100%;
	max-width: 530px;
	min-height: 164px;
}